:root {
  --heigth-box: 4.5rem;
  --menu-width: 10.5rem;
}

div.curtain {
  position: fixed;
  background: var(--color-contrast);
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  transition: var(--transition-speed);
}

div.curtain.hidden {
  opacity: 0;
  visibility: hidden;
}

div.layout {
  display: grid;
  grid-template:
    "header"
    "main"
    "footer";
  grid-template-rows: var(--heigth-box) 1fr var(--heigth-box);
  height: 100vh;
}

div.layout > nav {
  position: fixed;
  background: var(--color-neutral);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  transition: var(--transition-speed);
  width: var(--menu-width);
}

div.layout > nav.hidden {
  width: 0;
  opacity: 0;
  visibility: hidden;
}

div.layout > nav > .bars {
  text-align: right;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: auto;
}

div.layout > nav > ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

div.layout > nav > ul li {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--color-theme-strong);
}

div.layout > nav > ul li > svg {
  font-size: 1.25rem;
  width: 1.25rem;
}

div.layout > header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

div.layout > nav > .bars,
div.layout > header > .bars {
  font-size: 1.5rem;
  cursor: pointer;
}

div.layout > main {
  grid-area: main;
  background: var(--color-background);
}

div.layout > main > header {
  padding: 0 1.5rem;
  background: var(--color-theme);
  color: var(--color-neutral);
  padding-bottom: 4rem;
  margin-bottom: -4rem;
}

div.layout > footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--color-theme);
  color: var(--color-neutral);
}

@media screen and (min-width: 700px) {
  div.layout {
    display: grid;
    grid-template:
      "menu header"
      "menu main"
      "menu footer";
    grid-template-rows: var(--heigth-box) 1fr var(--heigth-box);
    grid-template-columns: var(--menu-width) 1fr;
    height: 100vh;
  }

  div.layout > nav {
    background: var(--color-neutral);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    padding: 3.5rem 2.5rem 0;
    width: auto;
  }

  div.layout > nav > ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
  }
}
