button.container {
  cursor: pointer;
  color: #ffffff;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ffffff;
  border-radius: var(--space-4);
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.5;
  transition: 0.5s;

  &.primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-hover);
      border-color: var(--color-primary-hover);
    }
  }

  &.neutral {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-primary);
    font-weight: 600;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
