nav.breadcrumb {
  & > ul {
    display: flex;
    margin:0;
    padding-top: 0.5rem;
    padding-left: 0.1rem;

    & li {
      display: flex;
      column-gap: 0.5rem;

      & > a {
        color: var(--color-neutral)
      }

      &:not(:last-child)::after {
        content: ">";
        margin-right: 0.5rem;
      }
    }
  }
}
